################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock

Calender/Calender/bin/Debug/Calender\.exe

Calender/Calender/bin/Debug/Calender\.pdb
